<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="ISO-8859-1">
	  <link rel="stylesheet" href="./resources/evaluator_style.css">
    <title>Credit evaluator</title>
</head>
<body>
<h2>Credit evaluator</h2>
 <div class="credit_form">
<form th:method="POST" th:action="@{/decision}" th:object="${request}">
    <label for="pid">Personal ID:</label>
    <input type="text" th:field="*{personalCode}" id="pid" pattern="\d{11}" placeholder="00000000000"><br><br>
    <label for="amount">Amount:</label>
    <input type="number" th:field="*{amount}" id="amount" min="2000" max="10000" placeholder="from 2000 to 10000"><br><br>
    <label for="period">Period:</label>
    <input type="number" th:field="*{period}" id="period" min="12" max="60" placeholder="from 12 to 60"><br><br>
    <input type="submit" id="submit" class="button" value="Evaluate">
</form>
</div>
	<script>
function disableField() {
	const invalidForm = document.querySelector('form:invalid');
	const inputs = document.getElementsByTagName("input");
	const submitBtn = document.getElementById('submit');
	for (let input of inputs) {
		if (input.value===""){
			submitBtn.setAttribute('disabled', true);
			return;
		}
	}
  console.log(submitBtn);
  if (invalidForm) {
    submitBtn.setAttribute('disabled', true);
  } else {
  submitBtn.disabled = false;
  }
}

const inputs = document.getElementsByTagName("input");
disableField();
for (let input of inputs) {
	console.log(input);
  input.addEventListener('input', disableField);
}
	</script>
</body>
</html>